.navbar{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    font-size: 2rem;
    background-color: $primary-color;
    box-shadow: 1rem 1rem 1rem rgba($color: #000000, $alpha: 0.1);

    &__logo--container{
        color: #fff;
    }

    &__menu--list{
        display: flex;
        flex-direction: row;
        list-style: none;
    }

    &__menu--item{
        &:not(:last-child){
            margin-right: 2rem;
        }
    }

    &__menu--link{
        text-decoration: none;
        color: #fff;
    }
}